<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo center <%= link_to image_tag("svg/hblogo.svg") %> </a>
<a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
        <a class="waves-effect waves-light btn <%= link_to "Login", '#' %></a>
        </ul>
        <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Surf", '#' %></li>
        <li><%= link_to "Code", '#' %></li>
        <li><%= link_to "Stay", '#' %></li>
        </ul>
        </div>
        </nav>
        </div>

	    <div class="banner" style="background-image: url(<%= asset_path 'svg/beach.svg' %>);" >
	    <%= link_to image_tag("screen.png") %>
		<h1>Remotely Tropical</h1>
		<h2 span> Build cool things. Meet awesome people.</span></h2>
     	</div><!--/.banner-->
     	
	    <div class="mainwrapper" style="background-image: url(<%= asset_path 'svg/main.svg' %>);" >
        <div class="main" >
	    <div class="row" >
		<div class="primary col">
		<h3>Cabins</h3>
		<div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("cabin.jpg") %>
        </div>
        </div>
		</div><!--/.primary-->

		<div class="secondary col">
		<h3>Sa ka fete</h3>
		
		<div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-green">
        <%= image_tag("pitonpool.jpg") %>
        </div>
        </div>
		</div><!--/.secondary-->

		<div class="tertiary col">
		<h3>Hosted by </h3>
		<div class="chip z-depth-2 ">
        <%= link_to image_tag("jrbarakat.jpg") %>
        Full Stack Devs
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("cb.jpg") %>
        General Manager
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("ak.jpg") %>
        Yoga Instructor
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("fb.jpg") %>
        Event Planner
        </div>
    	</div><!--/.tertiary-->
	    </div>
	
	   <div class="main" >
	   <div class="row" >
	   <div class="primary col">
	   <div class="card z-depth-1">
       <div class="card-image waves-effect waves-block waves-green">
       <%= image_tag("ptions.jpg") %>
       </div>
        
        </div>
		</div><!--/.primary-->

		<div class="secondary col">
		<div class="card z-depth-1">
        <div class="card-image waves-effect waves-block waves-green">
        <%= image_tag("jazz.jpg") %>
        </div>
         </div>
		</div><!--/.secondary-->

		<div class="tertiary col">
	    <div class="card-panel" style="background-color: rgba(13, 12, 12, 0.88);">
          <span class="white-text">
          <p>Hop off the plane and immediately be productive.
          Our trips are typically 3-months long, but you can come for as little as 2 weeks.
          </p>
       </span>
        </div>
		</div><!--/.tertiary-->
	    </div>
        </div><!--/.main-->
        </div>

      <div class="container z-depth-2">
      
      <div class="video-container">
<iframe src="//fast.wistia.net/embed/playlists/it21i6d0f6?media_0_0%5BautoPlay%5D=false&media_0_0%5BcontrolsVisibleOnLoad%5D=false&theme=tab&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BplayerColor%5D=218bfc&videoOptions%5BvideoHeight%5D=360&videoOptions%5BvideoWidth%5D=640&videoOptions%5BvolumeControl%5D=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_playlist" name="wistia_playlist" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>      </div>
</div>
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating black btn-large ">
      <i class="large material-icons">visibility</i></a>
     <ul>
      <li><a class="btn-floating red"><i class="medium material-icons">visibility</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="medium material-icons">visibility</i></a></li>
      <li><a class="btn-floating green"><i class="medium material-icons">visibility</i></a></li>
      
     </ul>
     </div>

	<footer class="main-footer">
	<span>&copy;2016 Hackers Beach Saint Lucia.</span>
	
	<div class="stripe"></a>
	
	<%= form_tag charges_path do %>
	
        <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
        <p><%= flash[:error] %></p>
        </div>
        <% end %>
       
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Pass it"
          data-amount="?"
          data-locale="auto"></script>
         <% end %>
         
	</footer>
	
    <%= javascript_tag do %>
     $(document).ready(function () {
     $('.button-collapse').sideNav({
      menuWidth: 440, // Default is 440
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
     }
     );
     });
    <% end %>
    
        <%= javascript_tag do %>
        
        <% end %>
