<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
<a href="#" class="brand-logo center <%= link_to image_tag("svg/hblogo.svg") %> </a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><%= link_to "Surf", '#' %></li>
          <li><%= link_to "Code", '#' %></li>
          <li><%= link_to "Stay", '#' %></li>
        <a class="waves-effect waves-light btn <%= link_to "Login", '#' %> "></a>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "Surf", '#' %></li>
          <li><%= link_to "Code", '#' %></li>
          <li><%= link_to "Stay", '#' %></li>
          <a class="waves-effect waves-light btn">Login</a>
         </ul>
       </div>
       </nav>
       </div>

	    <div class="banner" style="background-image: url(<%= asset_path 'svg/beach.svg' %>);" >
	    <%= link_to image_tag("screen.png") %>
		<h2 class="headline">Remotely Tropical</h2>
		<span class="tagline">Build cool things. Meet awesome people.</span>
     	</div><!--/.banner-->
     	
	    <div class="mainwrapper" style="background-image: url(<%= asset_path 'svg/main.svg' %>);" >
        <div class="main" >
	    <div class="row" >
		<div class="primary col">
		<h3>Beach Cabins</h3>
		<div class="card z-depth-1">
        <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("cabin.jpg") %>
        </div>
        </div>
		</div><!--/.primary-->

		<div class="secondary col">
		<h3>Welcome!</h3>
		
		<div class="card z-depth-1">
        <div class="card-image waves-effect waves-block waves-green">
        <%= image_tag("losbason.jpg") %>
        </div>
        </div>
		</div><!--/.secondary-->

		<div class="tertiary col">
		<h3>Hosted by </h3>
		<div class="chip z-depth-2 waves-effect waves-block waves-green">
        <%= link_to image_tag("jrbarakat.jpg") %>
        Full Stack Devs
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("cb.jpg") %>
        General Manager
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("ak.jpg") %>
        Yoga Instructor
        </div>
        <div class="chip z-depth-2">
        <%= link_to image_tag("fb.jpg") %>
        Event Planner
        </div>
    	</div><!--/.tertiary-->
	    </div>
	
	   <div class="main" >
	   <div class="row" >
	   <div class="primary col">
	   <div class="card z-depth-1">
       <div class="card-image waves-effect waves-block waves-green">
       <%= image_tag("ptions.jpg") %>
       </div>
        
        </div>
		</div><!--/.primary-->

		<div class="secondary col">
		<div class="card z-depth-1">
        <div class="card-image waves-effect waves-block waves-green">
        <%= image_tag("jazz.jpg") %>
        </div>
         </div>
		</div><!--/.secondary-->

		<div class="tertiary col">
	    <ul class="collapsible z-depth-2" data-collapsible="accordion"> <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Winter Deals</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Fall Savings</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>More info</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        </ul>
		</div><!--/.tertiary-->
	    </div>
        </div><!--/.main-->
        </div>

      <div class="container z-depth-2">
      <div class="video-container">
      <iframe src="//fast.wistia.net/embed/playlists/it21i6d0f6?media_0_0%5BautoPlay%5D=false&media_0_0%5BcontrolsVisibleOnLoad%5D=false&theme=
      tab&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BplayButton%5D=
      false&videoOptions%5BplayerColor%5D=6ba63a&videoOptions%5BvideoHeight%5D=360&videoOptions
      %5BvideoWidth%5D=640&videoOptions%5BvolumeControl%5D=true" allowtransparency="true" frameborder="0" 
      scrolling="no" class="wistia_playlist" name="wistia_playlist" allowfullscreen mozallowfullscreen 
      webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>      
      </div>
      </div>

      <div class="fixed-action-btn grey-darken-4" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large ">
      <i class="large material-icons">translate</i></a>
     <ul>
      <li><a class="btn-floating red"><i class="medium material-icons">visibility</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="medium material-icons">my_location</i></a></li>
      <li><a class="btn-floating green"><i class="medium material-icons">visibility</i></a></li>
      
     </ul>
     </div>

	<footer class="main-footer">
	<span>&copy;2016 Hackers  Beach Saint Lucia.</span
	
	<%= form_tag charges_path do %>
	
        <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
        <p><%= flash[:error] %></p>
        </div>
        <% end %>
       
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Pass it"
          data-amount="?"
          data-locale="auto"></script>
         <% end %>
         
	</footer>
	
    <%= javascript_tag do %>
     $(document).ready(function () {
     $('.button-collapse').sideNav({
      menuWidth: 440, // Default is 440
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
     }
     );
     });
    <% end %>