<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
<a href="#!" class="brand-logo center"></a>


      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Surf</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Stay</a></li>
<a class="waves-effect waves-light btn">Login</a>
</ul>
      <ul class="side-nav " id="mobile-demo">

        <li><a href="#">Surf</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Stay</a></li>
        <a class="waves-effect waves-light btn">Login</a><li><a href="#"></a></li>
      </ul>
    </div>
  </nav>
  </div>

	<div class="banner" style="background-image: url(<%= asset_path 'svg/beach.svg' %>);" >
	 <%= link_to image_tag("screen.png") %>
		<h2 class="headline">Remotely Tropical</h2>
		<span class="tagline">Build cool things. Meet awesome people.</span>
	</div><!--/.banner-->
	
	
     <div class="main" >
	<div class="row" >
		<div class="primary col">
			<h3>Beach Cabins</h3>
			<div class="card z-depth-1">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag("ilet.jpg") %>
            </div>
           
          </div>
		</div><!--/.primary-->

		<div class="secondary col">
			<h3>Welcome!</h3>
		
		<div class="card z-depth-1">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag("text.jpg") %>
            </div>
           
          </div>
		</div><!--/.secondary-->

		<div class="tertiary col">
			<h3>Hosted by </h3>
		 <div class="chip z-depth-2 waves-effect waves-block waves-light">
    <%= link_to image_tag("jrbarakat.jpg") %>
    Senior Full Stack
  </div>
   <div class="chip z-depth-2">
    <%= link_to image_tag("cb.jpg") %>
   General Manager
  </div>
   <div class="chip z-depth-2">
     <%= link_to image_tag("ak.jpg") %>
     Yoga Instructor
  </div>
   <div class="chip z-depth-2">
     <%= link_to image_tag("fb.jpg") %>
     Event Planner
  </div>
  
		</div><!--/.tertiary-->
	</div>
	
	
 
 
	</div><!--/.main-->


<div class="media">
<div class="container z-depth-2">
   <div class="video-container">
<iframe src="//fast.wistia.net/embed/playlists/it21i6d0f6?media_0_0%5BautoPlay%5D=false&media_0_0%5BcontrolsVisibleOnLoad%5D=false&theme=
tab&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BplayButton%5D=
false&videoOptions%5BplayerColor%5D=6ba63a&videoOptions%5BvideoHeight%5D=360&videoOptions
%5BvideoWidth%5D=640&videoOptions%5BvolumeControl%5D=true" allowtransparency="true" frameborder="0" 
scrolling="no" class="wistia_playlist" name="wistia_playlist" allowfullscreen mozallowfullscreen 
webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>      
</div>
</div>




	<footer class="main-footer">
		<span>&copy;2016 Hackers  Beach Saint Lucia.</span>
	</footer>
    <script>
     $(document).ready(function () {
   $('.button-collapse').sideNav({
      menuWidth: 340, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
});

</script>